/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  color-scheme: dark light;
  hanging-punctuation: first last;
  font-family: sans-serif;
  font-size: 10px;
}

/* min body height */
body {
  min-height: 100svh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

/* New styles here */
body {
  background-color: rgb(214, 232, 236);
  display: grid;
  place-content: center;
}

.card {
  width: 200px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  gap: 1.4rem;
  text-align: center;
}

.card > img {
  border-radius: 0.5rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.4rem;
}

.card-subtext {
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.4);
}
