header {
  background-color: white;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 0 1.5rem rgb(0 0 0 / 0.4);
  color: var(--clr-primary);
  position: sticky;
}

.wrapper {
  display: grid;
  place-items: center;
  align-content: center;
  gap: 2rem;
  height: 70vh; /* I don't like this solution to vertically placing content */
  --border-radius: 0.4rem;
}

.wrapper p {
  padding: 0.5rem;
  font-size: var(--text-xl);
  background-color: black;
  color: white;
  border-radius: var(--border-radius);
}

.wrapper span {
  color: var(--clr-primary);
  text-transform: uppercase;
}

button {
  background-color: inherit;
  letter-spacing: inherit;
  padding: 0.4rem;
  padding-inline: 0.8rem;
  border-radius: var(--border-radius);

  transition: all 0.6s;
}
button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
